body {
  font-size: 14px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 242, 242);
  font-weight: normal;
  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

.main-page {
	width: 1200px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.item-link {
  font-weight: bold;
  line-height: 26px;
}

.item-link:hover {
  color: rgb(129, 179, 210);
}

.item-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.item-link-left {
	text-align: left;
}

.item-link-right {
	text-align: right;
}

.item-link-active {
	color: rgb(118, 99, 87);
}


.main-logo {
  width: 1200px;
  height: 564px;
  background-image: url(../img/main-image.jpg);
  background-color: rgb(228, 241, 249);
}


.main-title {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.main-title-reasons {
  font-size: 21px;
  font-weight: bold;
}

.reasons {
  color: rgb(51, 51, 51);
  text-align: center;
}


.reasons-block-1 {
  background-color: rgb(129, 179, 210);
}
 
.reasons-block-title {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 21px;
  text-align: center;
 }

 .reasons-description {
  color: rgb(255, 255, 255);
  line-height: 21px;
  text-align: center;
}

.reasons-block-2 {
  background-color: rgb(129, 179, 210);
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

 .feature-item p {
  color: rgb(51, 51, 51);
  font-weight: normal;
  line-height: 21px;
  text-align: center;
}

.reason-row {
  background-color: rgb(238, 238, 238);
}

.reason-item h3 {
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

 .reason-text {
  font-weight: normal;
  text-align: center;
  line-height: 21px;
  color: rgb(51, 51, 51);
}

 .search h3 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  line-height: 36px;
}

 .search p {
  color: rgb(51, 51, 51);
  font-weight: normal;
  text-align: center;
  line-height: 24px;
 }

 .search-button {
  width: 568px;
  height: 67px;
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(118, 99, 87);
  border: none;
 }

 .search-button:hover {
  background-color: rgb(96, 78, 67);
  border: none;
}
 
 .search-button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(80, 62, 51);
  border: none;
 }

 .search-form-label {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}
 
.search-form-text {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  background-color: rgb(242, 242,242);
  border: none;
}
 
.search-form-text:hover {
  background-color: rgb(235, 235,235);
  border: none;
}
 
.search-form-text:focus {
  background-color: rgb(255, 255,255);
  border: 2px solid rgb(229, 229, 229);
  outline: none;
}

.number-field {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(242, 242,242);
  border: none;
}

.search-button2 {
  width: 458px;
  height: 58px;
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #81b3d2;
  border: none;
}
 
.search-button2:hover {
  background-color: rgb(102, 158, 192);
  border: none;
}
 
.search-button2:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.302);
}
.filters {
  background-image: url(../img/filter-background.png);
  background-color: rgb(131, 171, 202);
}

.form-container {
  border: none;
}

.filter-title {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 21px;
  text-align: left;
}

.filter-option {
  color: rgb(255, 255, 255);
  line-height: 21px;
  text-align: left;
}

.scale-mark1:before {
  content: "От";
}

.scale-mark2:before {
  content: "До";
}

.filter-button {
  color: rgb(255, 255, 255);
  line-height: 21px;
  width: 137px;
  height: 36px;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid rgb(255,255,255);
  border-radius: 2px;
}

.filter-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255,255,255);
}


.hotel-sort-num {
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.hotel-sort-find {
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 18px;
  text-align: left;
}

.hotel-sort_link {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.302);
  line-height: 18px;
  text-align: left;
  text-decoration: none; 
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.hotel-sort_link:hover {
  color: rgb(129, 179, 210);
}

.hotel-sort_link:active {
  color: rgb(0, 0, 0);
  text-decoration: none; 
  border: none;
}

.hotel-sort-active {
  color: rgb(129, 179, 210);
  text-decoration: none; 
  border: none;
}

.hotel-name-link {
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.hotel-name-link:hover {
  color: rgb(129, 179, 210);
}

.hotel-name-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.hotel-type,
.hotel-price {
  color: rgb(51, 51, 51);
  line-height: 21px;
  text-align: left;
}

.button1 {
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.button1:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 158, 192);
}

.button1:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(84, 150, 189);
}

.button2 {
  color: rgb(255, 255, 255);
  background-color: rgb(118, 99, 87);
}

.button2:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(96, 78, 67);
}

.button2:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(80, 62, 51);
}

.hotel-rating {
  color: rgb(102, 102, 102);
  background-color: rgb(242, 242, 242);
  line-height: 21px;
}

.footer-tag {
 font-size: 21px;
 font-weight: bold;
}

.footer-social {
  font-size: 0px;
}

.twitter-button {
	display: block;
	width: 48px;
	height: 46px;
	background-image: url(../img/twitter-icon.svg);
	background-size: 48px 46px;
}
 

.academy-logo {
	fill: rgb(35, 31, 32);
}

.academy-logo:hover {
	fill: rgb(129, 179, 210);
}

.academy-logo:active {
	fill: rgb(189, 187, 188);
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }